li{
    list-style: none;
}
.profile{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    height: 70%;
    padding: 40px;
}
.profile_nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: cadetblue;
}
.profile_nav ul{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.profile_nav ul li{
    margin: 0 7px;
}
.profile a{
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: white;
}
.profile a:hover{
    background-color: gray;
}
.profile_info{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 200px;
    background-color: darkred;
}
.profile_info_avatar{
    /*display: flex;*/
    flex: 2;
    background-color: gray;
    width: 100%;
    height: 100%;
}
.profile_info_data{
    display: grid;
    flex: 4;
    /*background-color: wheat;*/
    width: 100%;
    height: 100%;
    grid-template-columns: 30% 70%;
    grid-template-rows: 15% 12% 12% 12% 12% 12% 12%;
}
.profile_info_avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
}
.profile_info_avatar img{
    aspect-ratio: 1/1;
    width: 120px;
    border-radius: 20px;
}
