@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --font: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #333 url("background.jpg") no-repeat top center/cover;
    background-blend-mode: multiply;
    top: 0;
    height: 100vh;
    overflow: hidden;
}
section{

}
header{
    position: sticky;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Lato', sans-serif;*/
    background: linear-gradient(0deg, transparent, #333333);
    opacity: 0.8;
}
.container{
    display: flex;
    width: 85%;
    justify-content: center;
    height: 3rem;
    margin: auto;

}
.logo-container{
    display: flex;
    flex: 1;
/*    background-color: yellow;*/
    align-items: center;
    justify-content: center;
}
.menu{
    display: flex;
    flex: 3;
}
.links{
    display: flex;
    flex: 2;
/*    background-color: blue;*/
    align-items: center;
    justify-content: center;
}
.links > ul {
    display: flex;
    list-style: none;
}
.nav-link > a{
    display: flex;
    text-decoration: none;
    color: var(--font);
    font-size: 17px;
    transition: .3s;
    padding: 0 12px;
}
.nav-link > a:hover{
    color: yellow;
    transform: scale(1.03);
}
.links ul li a i{
    margin-left: 8px;
    transform: rotate(180deg);
}
.login{
    display: flex;
    flex: 1;
/*    background-color: green;*/
}
.logo{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: normal;
    color: var(--font);
}
.logo span{
    font-weight: bold;
}
.login{
    align-items: center;
    justify-content: center;

}
.login > a{
    text-decoration: none;
    color: var(--font);
    padding: 5px 10px;
/*    border: 1px solid red;*/
    border-radius: 12px;
    margin: 5px;
    transition: .3s;
}
.login > a:hover{
    background-color: white;
    color: #333333;
}
.submenu{
    transform: scale(0,0);
    transform-origin: top;
    position: absolute;
    width: 160px;
    top: calc(100% + 10px);
    z-index: 1;
    opacity: 0;
    transition: .3s;
}
.submenu.second{
    transform-origin: left;
}
.submenu ul{
    list-style: none;
    width: 100%;
}
.submenu-link > a{
    text-decoration: none;
    display: flex;
    width: 100%;
    color: #333333;
    background-color: white;
    transition: .3s;
    padding: 8px;
    justify-content: space-between;
}
.submenu ul li a i{
    transform: rotate(90deg);
}
.submenu li:hover > a,
.submenu-link:first-child:hover ~.arrow{
    background: cornflowerblue;
}
.submenu-link:not(:nth-last-child(2)){
    border-bottom: 1px solid lightgray;
}
.arrow{
    cursor: pointer;
    position: absolute;
    height: 20px;
    width: 20px;
    background: white;
    top: -5px;
    left: 25px;
    transform: rotate(45deg);
    z-index: -1;
    transition: .3s;
}
.submenu-link{
    position: relative;
}
.submenu.second{
    top: 0;
    left: 100%;
    padding-left: 18px;
    cursor: pointer;
}
.submenu.second .arrow{
    top: 8px;
    left: 13px;
}
.links li:hover > .submenu{
    transform: scale(1,1);
    opacity: .85;
    pointer-events: auto;
}

